.DetailNoud {
  padding: 50px 0;
  font-family: sans-serif;
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .all {
      font-family: sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      .imgNoud {
        width: 800px;
        height: 500px;
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        background: rgba(128, 128, 128, 0.273);
        // box-shadow: 0px 0px 35px 0px #63d35d87;
        img {
          width: 500px;
          height: 550px;
        }
      }
      .detalTex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
          font-size: 30px;
        }
        span {
          color: gray;
        }
        h6 {
          font-size: 30px;
        }
        .block {
          display: flex;
          flex-direction: column;
          padding: 5px;
          border-radius: 10px;
          width: 400px;
          height: 300px;
          background-color: rgba(128, 128, 128, 0.258);
          gap: 15px;
          hr {
            width: 380px;
            border: 1px solid rgba(62, 240, 62, 0.459);
          }
          .text1 {
            display: flex;
            justify-content: space-between;

            span {
              font-size: 24px;
            }
          }
        }
      }
    }
    .characteristic {
      h1 {
        font-size: 35px;
      }
      .characterTex {
        display: flex;
        flex-direction: column;
        gap: 11px;
        hr {
          width: 900px;
          border: 1px solid rgba(62, 240, 62, 0.406);
        }
        .tex {
          display: flex;
          gap: 50px;
          
          // align-items: center;
          // justify-content: space-around;
          span{
            width: 300px;
            color: rgba(128, 128, 128, 0.852);
          }
          p{
            width: 310px;
          }
        }
      }
    }
  }
}
