.deliverWay {
    .way {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #999999c7;
        .card {
            display: flex;
            align-items: center;
            gap: 10px;
            svg {
              font-size: 30px;
              color: rgba(255, 255, 255, 0.596);
            }
            .cardText {
                h2 {
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    font-weight: 500;
                    svg {
                        font-size: 14px;

                    }
                }
                h3 {
                    font-size: 16px;
                    color: #999999;
                    font-weight: 400;
                    padding-top: 7px;
                }
            }
        }
        h4 {
            font-size: 16px;
            font-weight: 500;
        }
    }
}