.header {
  padding: 10px 20px;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        position: relative;
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 5px 10px;

        &.active {
          font-weight: bold;
          color: rgb(98, 189, 24);
        }

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: -5px;
          right: -5px;
          bottom: -5px;
          border: 2px solid transparent;
          border-top-color: rgb(98, 189, 24);
          border-radius: 50%;
          transform: rotate(0deg) scale(1);
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &:hover::before {
          opacity: 1;
          animation: spinAround 0.5s linear forwards;
        }

        &:hover {
          color: rgb(98, 189, 24);
        }
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      font-size: 25px;
      cursor: pointer;
    }

    .burger {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      font-size: 22px;
      cursor: pointer;
      color: white;
    }
  }
}

@keyframes spinAround {
  0% {
    transform: rotate(0deg);
    border-top-color: rgb(98, 189, 24);
  }
  50% {
    border-right-color: rgb(98, 189, 24);
  }
  100% {
    transform: rotate(180deg);
    border-color: rgb(98, 189, 24);
  }
}
